<!--<p-panelMenu [transitionOptions]="'0ms'" [model]="items" [style]="{'width':'200px'}"></p-panelMenu> -->

    <!--
<p-toast [style]="{marginTop: '20px'}"></p-toast>

<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Left Sidebar</h1>
    
    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    
    <p-panelMenu [model]="items" [style]="{'width':'250px'}"></p-panelMenu>
    <hr/>
    <br>
    <button #btn type="button" pButton icon="pi pi-bars" label="Menú" (click)="menu.toggle($event)"></button>
    <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
    <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button>
    <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
</p-sidebar>

<button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></button>

-->

            <p-panelMenu [model]="items" [style]="{'width':'150px'}"></p-panelMenu>


